body {
	background: #FFF;
	font-size: 12px;
	padding: 0;
	margin: 0;
	color: #333;
}

img {
	width: 300px;
	height: 400px;
}

.content {
	max-width: 1200px;
}

.right {
	width: 600px;
}

.left {
	width: 600px;
}

.clearfix {
	overflow: auto;
}

.bambi {
	margin-left: 519px;
  	margin-top: 70px

}

.bambi-2 {
	display: none;
	margin-top: 70px
}

.text {
	font-size: 42px;
	color: #f1c40f;
	margin-top: 40px;
	text-align: center;
	font-family: 'Rum Raisin', sans-serif;
}

.nuevo-texto {
	font-size: 38px;
	color: #c0392b;
	font-family: 'Wendy One', sans-serif;
	float:right;
	margin-right: 190px;
  	margin-top: 170px;
  	
}